.about-greeting {
    font-size: 3.5rem;
    margin-bottom: 150px;
}

@keyframes moveX {
    0% {margin-left: 600px;}
    100% {margin-left: 0;}
}
@keyframes moveY {
    0% { margin-top: 300px; }
    100% { margin-top: 0px; }
}
@keyframes transOpacity{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.about-greeting__p--first{
    animation: transOpacity 2s ease;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}
.about-greeting__p--second{
    animation: transOpacity 2s ease;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}
.about-greeting__p--third{
    animation: transOpacity 2s ease;
    animation-delay: 4s;
    animation-fill-mode: backwards;
}
.about-greeting__dd--virtical--ko{
    display:block;
    animation: transOpacity 2s ease;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

.about-greeting__dd--ko{
    display: none;
}

.about-greeting__dd--virtical--ko p:nth-child(2){
    animation: moveY 1.2s ease;
    animation-delay: 2.2s;
    animation-fill-mode: backwards;
}

.outline-text {
    color: #fff9f9;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.bold-text{
    font-weight: 500;
}

.--en {
    display: none;
}
.about-blank{
    height: 70vh;
}

.about-introduce{
    margin-bottom: 100px;
}

.about-introduce p{
    font-weight: 300;
}

.table{
    margin-bottom: 50px;
    padding: 10px 0;
}

.table-title{
    margin-bottom: 10px;
    font-size: 1rem;
}

.table-grid{
    display: grid;
    max-width: 700px;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}

.table-date{
    font-weight: 500;
}

.table-desc{
    font-weight: 500;
    grid-column: 2/4;
}

@media screen and (min-width : 960px) {
    .table-desc{
        font-weight: 500;
    }
}

@media screen and (min-width : 700px){
    .about-greeting {
        font-size: 8rem;
    }

    .about-greeting__dd--virtical--ko{
        display: none;
    }
    
    .about-greeting__dd--ko{
        display: flex;
        width: 200vw;
        animation: transOpacity 2s ease;
        animation-delay: 2s;
        animation-fill-mode: backwards;
    }

    .about-greeting__dd--ko p:nth-child(2){
        animation: moveX 1.2s ease;
        animation-delay: 2s;
        animation-fill-mode: backwards;
    }
 
    .about-introduce{
        font-size: 2rem;
    }

    .about-table{
        font-size: 1.5rem;
    }

    .table-title{
        font-size: 1.5rem;
    }
}