.footer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, auto);
    position: fixed;
    bottom: 30px;
    padding: 0 30px;
    font-size: 0.8rem;
}

.footer__right{
    text-align: right;
}