.grid-card-item{
    list-style: none;
}

.grid-card-item:hover .grid-card-item__img-wrap{
    transform: translate(0, -5px);
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
}

.grid-card-item__info{
    margin-bottom: 20px;
}

.grid-card-item__info__title{
    font-size: 2rem;
}

.grid-card-item__img-wrap{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    transition: ease .5s;
}

.grid-card-item__img-wrap:before{
    position: absolute;
    content: attr(data-category);
    margin: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    color: #fff;
    background-color: #ff7c7c;
    box-sizing: border-box;
}

@media screen and (min-width:1024px) {

}