.introduce__text {
    font-size: 2.8rem;
    line-height: 5rem;
}

.introduce__text__link{
    color: #fff9f9;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        transition: .5s ease;
}

.introduce__text__link:hover{
    color: #242424;
    text-shadow:none;
}

.introduce__contact {
    margin: 100px 0;
    font-size: 1.5rem;
}

.introduce__contact h2 {
    color: rgba(0, 255, 153, 0.5);
}

@media screen and (min-width : 960px) {
    .introduce {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    .introduce__text {
        font-size: 4rem;
        line-height: 6rem;
    }

    .introduce__contact {
        margin: 100px 0;
        font-size: 3rem;
    }
}