.main {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.main-title {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 50%;
    font-size: 6rem;
    color: #000;
}

.main-title__dk:before {
    content: '';
    position: absolute;
    top: 60%;
    left: -5px;
    width: 0px;
    height: 25px;
    background: #ff7c7c;
    z-index: -1;
    transition: all ease 0.5s;
    animation: 
            main-dk-mobile ease 2s infinite alternate,
            delay-animation ease 8s infinite;
}

.main-title__w {
    letter-spacing: -0.22em;
}

.main-title__o {
    position: absolute;
    top: 48%;
    left: 49%;
    font-size: 6.5rem;
    transform: translate(45%, -42%) rotate(-45deg);
    color: rgba(0, 255, 153, 0);
    transition: all ease 1s;
    animation: 
        main-o-effect ease 2s infinite alternate,
        delay-animation ease 8s infinite;
}

.main-title:hover .main-title__dk:before {
    animation: none;
    width: 90px;
}

.main-title:hover .main-title__o {
    animation: none;
    transform: translate(45%, -42%) rotate(-405deg);
    color: rgba(0, 255, 153, 0.5);
}

@keyframes shadowing {
    0% {
        text-shadow: #ff7c7c 0 0 0px;
    }

    100% {
        text-shadow: #ff7c7c 0 0 25px;
    }
}

@keyframes main-dk-mobile {
    0%{
        background: #ff7c7c00;
        width: 0;
    }
    50%{
        background: #ff7c7c;
        width: 90px;
    }

    100%{
        background: #ff7c7c;
        width: 90px;
    }
}
@keyframes main-o-effect {
    0%{
        transform: translate(45%, -42%) rotate(-45deg);
        color: rgba(0, 255, 153, 0);
    }
    50%{
        transform: translate(45%, -42%) rotate(-405deg);
        color: rgba(0, 255, 153, 0.5);
    }

    100%{
        transform: translate(45%, -42%) rotate(-405deg);
        color: rgba(0, 255, 153, 0.5);
    }
}
@keyframes delay-animation{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    50.01%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.main-guide {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease 0.5s;
    animation: shadowing ease 1.5s infinite alternate;
    font-size: 1.5rem;
}

.main-guide a{
    color: #fff9f9;
}

@media screen and (min-width : 960px) {
    .main-title {
        font-size: 16.5rem;
    }

    .main-title__o {
        font-size: 18rem;
    }

    .main-title__dk:before {
        left: -17px;
        width: 0px;
        height: 70px;
        animation: 
            main-dk-pc ease 2s infinite alternate,
            delay-animation ease 8s infinite;
    }

    .main-title:hover .main-title__dk:before {
        width: 250px;
    }

    @keyframes main-dk-pc {
        0%{
            background: #ff7c7c00;
            width: 0;
        }

        50%{
            background: #ff7c7c;
            width: 250px;
        }
    
        100%{
            background: #ff7c7c;
            width: 250px;
        }
    }

}