.nav-logo {
  position: fixed;
  z-index: 999;
  top: 20px;
  left: 20px;
  letter-spacing: -0.05rem;
}

.nav-logo__dk:before{
  content: '';
  position: absolute;
  top: 55%;
  left: -2px;
  width: 0px;
  height: 7.5px;
  background: #ff7c7c;
  transition: all ease 0.5s;
  z-index: -1;
}

.nav-logo__w {
  letter-spacing: -0.22rem;
}

.nav-logo__o {
  position: absolute;
  top: 48%;
  left: 49%;
  transform: translate(51%, -42%) rotate(-45deg);
  color: rgba(0, 255, 153, 0);
  transition: all ease .5s;
}

.nav-logo:hover .nav-logo__dk:before{
  width: 24px;
}

.nav-logo:hover .nav-logo__o{
  transform: translate(51%, -42%) rotate(-405deg);
    color: rgba(0, 255, 153, 0.5);
}

.nav-menu-button{
  position: fixed;
  z-index: 999;
  top: 20px;
  right: 20px;
}

.openmenu{
  color: red;
}

.closedmenu{
  color: black;
}
.nav-menu{
  display: none;
}