.nav-logo {
  position: fixed;
  z-index: 999;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
}

.nav-logo__dk:before{
  content: '';
  position: absolute;
  top: 55%;
  left: -2px;
  width: 0px;
  height: 7.5px;
  background: #ff7c7c;
  transition: all ease 0.5s;
  z-index: -1;
}

.nav-logo__w {
  letter-spacing: -0.22rem;
}

.nav-logo__o {
  position: absolute;
  top: 48%;
  left: 49%;
  transform: translate(51%, -42%) rotate(-45deg);
  color: rgba(0, 255, 153, 0);
  transition: all ease .5s;
}

.nav-logo:hover .nav-logo__dk:before{
  width: 24px;
}

.nav-logo:hover .nav-logo__o{
  transform: translate(51%, -42%) rotate(-405deg);
    color: rgba(0, 255, 153, 0.5);
}

.nav-menu-button{
  position: fixed;
  cursor: pointer;
  z-index: 999;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
}

.nav-menu-button:before{
  content: '';
  position: absolute;
  bottom: 0;
  background:  rgba(0, 255, 153, 0.5);
  height: 10px;
  width: 0;
  z-index: -1;
  transition: ease-in-out 0.5s;
}

.nav-menu-button:hover:before{
  width: 100%;
}

.nav-menu-button--open{
  letter-spacing: 1em;
  transition: ease 0.5s all;
}

.nav-menu-button--close{
  color: black;
  transition: ease 0.5s all;
}

.nav-menu{
  list-style: none;
  position:fixed;
  left: 50%;
  top: 50%;
  font-size: 7rem;
  transform: translate(-50%, -50%);
  transition: ease 0.5s all;
  z-index: 999;
}

.nav-menu--open{
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.nav-menu--close{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.nav-item{
  position: relative;
}

.nav-item::before{
  content: '';
  position: absolute;
  left: -5px;
  bottom: 15px;
  background: #ff7c7c;
  opacity: 0.7;
  width: 0;
  height: 30px;
  z-index: -1;
  transition: ease all 0.5s;
}

.nav-item:hover:before{
  width: 100%;
}

.nav-menu-background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 249, 249, 0.5);
  backdrop-filter: blur(15px);
  transition: ease all 1s;
  z-index: 2;
}

.nav-menu-background--open{
  opacity: 1;
  visibility: visible;
}

.nav-menu-background--close{
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width : 960px) {
  .nav-menu{
    font-size: 15rem;
  }
  .nav-item::before{
    bottom: 30px;
    height: 60px;
  }
}