* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
    letter-spacing: -0.05em;
    font-weight: 900;
}

html{
    background-color: #fff9f9;
}

a{
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    height: inherit;
}
